# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local

api/node_modules
api/dist

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
